<div data-ng-controller="Shell as shell" style="height: 100%">
    <section id="content" class="content" ng-show="shell.showApp" style="height: 100%">
        <div data-ng-view class="shuffle-animation" style="height: 100%;"></div>
        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="../../content/images/busy.gif"/>
            <div class="page-spinner-message overlay-message">{{shell.busyMessage}}</div>
        </div>
    </section>
    <div class="canvas" ng-hide="shell.showApp"></div>
</div>
