<div class="card" style="height: 100%">
    <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true" z-depth="1">
        <lx-tab heading="Pumps">
            <table class="data-table">
                <thead>
                    <tr class="data-table__selectable-row">
                        <th></th>
                        <th>Pump id</th>
                        <th>Pump pin</th>
                        <th>Measurer pin</th>
                        <th>Liquid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="data-table__selectable-row" data-ng-repeat="pump in vm.pumps track by $index">
                        <td></td>
                        <td>{{pump.id}}</td>
                        <td>{{pump.pumpId}}</td>
                        <td>{{pump.measurerId}}</td>
                        <td>
                            <select ng-init="vm.init(pump)"
                                    ng-model="pump.liquid"
                                    ng-options="item as item.name for item in vm.liquids">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn--m btn--blue btn--raised" lx-ripple>Save pumps configuration</button>
        </lx-tab>

        <lx-tab heading="Ingredients">
            <div flex-container="row" flex-gutter="24" flex-wrap>
                <div flex-item="4">
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator" ng-repeat="ingredient in vm.ingredients track by $index">
                            <div class="list-row__content">
                                <button class="btn btn--m btn--black btn--flat" lx-ripple>{{ ingredient.name }}</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div flex-item="8">
                    [flex="8"]
                </div>
            </div>
        </lx-tab>

        <lx-tab heading="Lorem Ipsum 3">
            <p class="p+">Lorem Ipsum Content 3</p>
        </lx-tab>
    </lx-tabs>
</div>